body{
 
}

button{
    height: 40px;
    width: 80px;
    border-radius: 25px;
}

button:hover{
    background-color: transparent;
    color: white;
}

input{
    height: 20px;
}

.character{
    /* display: inline; */
}

.props{
    display: flex;
    margin-left: 45px;
}

.characterdisplay{
    font-size: 20px;
    margin: 5px;
    margin-left: 30px;
    /* border-bottom: 1px solid black; */
}

.rating{
    font-size: 30px;
    margin-left: 30px;
    /* border: solid 1px black; */
}

