body{
  background-color: black;
  background-image: url('starWarsLogo.jpg');
  background-repeat: no-repeat;
  color: white;

}

.App {
  
}

header{
  font-style: italic;
  margin: auto;
  height: 75px;
  background-color: black;
  color: #E53726;
  font-size: 55px;
  text-align: center;
}

h1{
  
}






